%h1
  = link_to "<%= plural_human_name %>", url(:<%= plural_name %>)
  - unless @<%= name %>.new_record?
    \/
    = link_to @<%= name %>.<%= identifier %>, url(:<%= name %>, @<%= name %>)
  \/
  = @<%= name %>.new_record? ? "Create" : "Edit"

= render_form :<%= name %>