%h1
  = link_to "<%= plural_human_name %>", url(:<%= plural_name %>)
  \/
  <%= human_name %>

%p= link_to 'Edit',  url(:edit_<%= name %>, @<%= name %>)

<% attributes.each_pair do |key, value| %>
%p#<%= key %>
  <%= Extlib::Inflection.humanize(key) %>:
  =h @<%= name %>.<%= key %>
<% end -%>