%h1
  = link_to "<%= plural_human_name %>", url(:<%= plural_name %>)
  \/
  = @<%= name %>.<%= identifier %>

%p= link_to 'Edit',  url(:edit_<%= name %>, @<%= name %>), :class => 'edit action'

<% attributes.each_pair do |key, value| %>
%p#<%= key %>
  %strong
    <%= Extlib::Inflection.humanize(key) %>
  =h @<%= name %>.<%= key %>
<% end -%>